<ul>
     “Why can’t I just eat my waffle.”  -- Barack Obama
  <img src='/images/logo.png'>
  <br>
  <br>
  <% @peeps.each do |peep| %>
    <li> <%= peep.message %> (<%= peep.time %>)</li>
  <% end %>
</ul>


<div id="new-peep">
  	<form action="/peeps" method="post">
    	Message: <input type="text" name="message">
    	<button>Add peep</button>
  </form>
</div>